doctype html
html
    head
        title='Hello Google'
        style 
            include ../views/style.css

    body
        div.container
            h1.header Welcome !
            p#text log in to your google account by one clik !
            
            button
                a(href="/auth/google") 	CLICK